.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.card {
  background: blue;
  color: aliceblue;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
}